// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
a
// Custom styles for table cells
td {
    white-space: nowrap;
}

td:last-child {
    overflow: visible;
}

td:not(:last-child) {
    overflow-x: auto;
}
